body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  .cek-domain {
    width: 50%;
  }
}

.img-contact {
  background-image: url(img/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.tombol {
  width: 250px;
}
